@import url('./themes/wreckraiders.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply tw-h-full tw-w-full;
  }

  body {
    font-family: Helvetica, sans-serif;
  }

  h1 > a, h2 > a, h3 > a, h4 > a {
    text-decoration-line: none;
  }

  h1 {
    @apply tw-text-5xl;
  }

  a {
    @apply tw-underline;
  }

  .app {
    @apply tw-min-h-full tw-h-full;
  }

  .container {
    @apply tw-flex tw-flex-col tw-mx-auto tw-pt-20 tw-pb-14;
  }

  .wrapper {
    @apply tw-w-full sm:tw-w-4/5;
  }

  @media (min-width: 1024px) {
    .wrapper {
      max-width: 1024px;
    }
  }

  .topbar,
  .footer {
    @apply tw-w-full
    tw-flex
    tw-justify-center
    tw-fixed
    tw-z-10
    tw-px-4
    sm:tw-px-0
    tw-text-white
    tw-bg-gray-800;
  }
}
